@tailwind base;
@tailwind components;
@tailwind utilities;
.animate-pulse {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
.animate-float {
  animation: float 12s ease-in-out infinite;
}
.animate-float-slow {
  animation: float 18s ease-in-out infinite;
}
.animate-float-fast {
  animation: float 8s ease-in-out infinite;
}
